/* * {
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #9ba9eb;
  padding: 10%;
  height: 100%;
}
.top-logo {
  height: 30px;
  margin: right;
}
.head1 {
  color: #ffffff;
  font-size: 18px;
}
.middle {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
  justify-content: space-between;
  background-color: #5763a5;
  padding: 50px;
}
.card {
  background-color: #454f84;
  padding: 20px;
  display: flex;
  width: 35%;
  flex-direction: column;
  justify-content: space-around;
}
.inputEl {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  padding: 5px;
  border-radius: 2px;
  height: 30px;
  margin-top: 10px;
}
.img2 {
  height: 10px;
  text-align: center;
  margin-right: 5px;
}
input {
  border: none;
  border-left: 1px solid;
}
.btn1 {
  align-self: flex-end;
  background-color: #0b69ff;
  color: #ffffff;
  margin: 10px 0px;
  padding: 5px 10px;
}
.img3 {
  margin-left: 20px;
  width: 40%;
}
.bottom {
  margin: auto;
  background-color: #5763a5;
  width: 90%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 15px 50px;
}
.bottom-navbar {
  display: flex;
  color: #ffffff;
  justify-content: space-between;
  align-items: center;
}

.pass-title {
  color: #ffffff;
  display: flex;
  align-items: center;
}
.head-pass {
  margin-right: 10px;
  font-size: 18px;
}
.bottom-hr {
  margin-top: 15px;
  /* height: 1px; */
  width: 100%;
  color: #b6c3ca;
}
.show-pass {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-top: 5px;
  align-self: flex-end;
}
.delete-img {
  height: 20px;
}
.stars {
  height: 20px;
}
ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

li {
  border: 1px solid hsl(199, 89%, 48%);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  width: 280px;
  align-items: center;
  margin-right: 20px;
  margin-top: 20px;
  justify-content: center;
}
.del {
  border: none;
  background-color: transparent;
}
.li1 {
  background-color: lightgreen;
  color: #ffffff;
  border-radius: 50%;
  padding: 5px 10px;
  margin-right: 10px;
  text-align: center;
}
.li-data {
  color: #ffffff;
  margin-right: 10px;
  width: 200px;
}
.li-data p,
img {
  margin: 2px;
}
.nopass {
  text-align: center;
  height: 300px;
  padding: 50px;
  margin: auto;
  width: 400px;
}
.nohead {
  color: #ffffff;
  text-align: center;
}
